body{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

main{
    background-image: url("Sprinkle.svg");
    position: relative;
    width: 99vw;
}

main h1{
    background-color: rgba(235, 235, 235, 1);
    text-align: center;
    font-size: 44px;
    padding: 10px;
    letter-spacing: 2px;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(121, 20, 236);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover{
    background-color: #555;
}

footer{
    color:rgb(255, 255, 255);
}

footer h1{
    font-size: 30px;
    text-align: center;
}

footer h2{
    font-size: 25px;
    text-align: center;
}

footer h3{ 
    text-align: center;
}

.nav{
    background-color: #555;
    width: 100%;
}

.nav a{
    background-color: rgb(121, 20, 236);
    border-radius: 10px;
    color:rgb(0, 0, 0);
    display: block;
    font-size: 18px;
    padding: 0.4em;
    margin: 0.4em;
    text-decoration: none;
}

.nav a:hover{
    color: rgb(121, 20, 236);
    background-color: rgb(0, 0, 0);
}

.nav i{
    padding-left: 5px;
}

.box{
    background-color: rgba(235, 235, 235, 1);
    border: 3px outset;
    padding: 1em;
    margin-top: 12em;
}

.box:first-child{
    margin-top: 3em;
}

.zdjecie_gry{
    height: auto;
    width: 100%;
}

.nazwa_gry{
    font-size: 3em;
}

.typ_gry{
    background-color: rgb(121, 20, 236);
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: 5em;
}

.platforma{
    background-color: rgb(121, 20, 236);
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: 12em;
}

.kup{
    background-color: rgb(121, 20, 236);
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: 12em;
}

.kup a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.kup a:hover{
    color: rgb(0, 0, 0);
}

.typ_gry:hover, .platforma:hover{
    opacity: 0.8;
    cursor: default;
}

.tekst p{
    font-size: 1.1em;
    padding: 0.3em;
}